<div class="container">
<h1>Contacts</h1>

<div class="row">
  <div class="col-md-6">

    <p>Email: <a href="mailto:tamas.dogi@live.com">tamas.dogi@live.com</a></p>

    <p>Skype: bestweaver</p>

    <p><b>Social media</b></p>
    <p>LinkedIn: <a href="http://www.linkedin.com/in/thomasdogi">http://www.linkedin.com/in/thomasdogi</a></p>

    <p>Portfolio: <a href="http://tamas.dogi.hu">http://tamas.dogi.hu</a></p>

    <p>Bitbucket: <a href="https://bitbucket.org/dogisoft/">https://bitbucket.org/dogisoft/</a></p>

    <p>GitHub: <a href="https://github.com/dogitamas">https://github.com/dogitamas</a></p>

  </div>
  <div class="col-md-6 text-right"><img src="/assets/images/article01.jpg" height="300"></div>
</div>

</div>
