
nav {
  margin-top: 0px;
  padding: 12px;
  font-family: Raleway;
}

.link-3 {
  transition: 0.4s;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px;
  display: block;
}

.link-3:hover{
       border-left: 5px solid #cd4500;
      color: #cd4500;
}

.link-3.active {
       border-left: 5px solid #cd4500;
      color: #cd4500;
}
