
  <nav id="nav-3">
      <a class="link-3" [routerLink] = "['/home']" routerLinkActive="active">Home</a>
      <a class="link-3" [routerLink] = "['/techniques']" routerLinkActive="active">Techniques</a>
      <a class="link-3" [routerLink] = "['/references']" routerLinkActive="active">References</a>
      <a class="link-3" [routerLink] = "['/contact']" routerLinkActive="active">Contact</a>
      <a class="link-3" [routerLink] = "['/competencies']" routerLinkActive="active">Competencies</a>
  </nav>
