<div class="container">
<h1>Competencies</h1>
<ul>
  <li>Ability to build Responsive Web Design.</li>
<li>The ability to create HTML web pages from design visuals in PSD format</li>
<li>Solid experience building web sites to W3C HTML, CSS and accessibility standards</li>
<li>Excellent knowledge of cross browser limitations and workarounds</li>
<li>Good knowledge of how to build SEO friendly sites</li>
<li>Experience building HTML emails for multiple desktop/web-based email clients, and an appreciation of spam scoring</li>
<li>Extensive experience with CSS3 and HTML5</li>
<li>Experience building sites optimised for mobile devices, such as touch events</li>
<li>Experience of incorporating Google maps, Google Analytics, Twitter and Facebook functionality</li>
<li>Use of testing tools such as W3C validators and Firebug</li>
<li>Experience with Social Media integration</li>
<li>Hands on, CMS Systems (Joomla, Drupal, Wordpress)</li>
<li>Good understanding of MySQL within a high volume commercial environment</li>
<li>Ability to work to specific requirements and deadlines</li>
<li>Proven track record in Internet site development and content management</li>
<li>Hands on, ability to take on diverse tasks as part of a small efficient team</li>
<li>Experience with using PHP frameworks to aid the development process, Symphony, CodeIgniter, Kohana</li>
<li>Initiative to work with minimal supervision and an attention to detail</li>
<li>Interpersonal and communication skills</li>
<li>Extensive experience building commercial web/mobile sites</li>
<li>Ability to work as part of a multi-discipline team. Can - do attitude.</li>
<li>WordPress Theme and Plugin Development

</ul>
</div>
