<div class="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="logo" class="text-left">Tamas Dogi</div>
      </div>
      <div class="col-md-8">
        <div class="social text-right">
          <span class="fb"></span>
          <span class="fb"></span>
          <span class="fb"></span>
          <span class="fb"></span>
          <span class="fb"></span>
        </div>
      </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
