.top-menu{
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ff0000;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
  background-color: #fff;
}

.main-container{
  margin-top: 10px;
  position: relative;
  z-index: 0;
  color: #333;
}

#logo{
  margin: 12px 0 0 20px;
  width: 200px;
}

.social{
  height: 50px;
  display: block;
  position: relative;
  span{

    height: 50px;
    display: inline-block;
    width: 50px;
  }
  .fb{

  }
}
