<div class="container">

  <h1>Introduction</h1>

  <p>My name is Tamas Dogi. I'm a freelancer web developer. I'm originally Hungarian citizen, but I lived in several European countries like the UK, Malta or Berlin, Germany.</p>

  <p>I have got more than 10 years commercial experience as a developer. During this period I was working with many different kind of systems and built different type of apps and websites. I have solid understanding of the development life cycle and I know the main methodologies. Personally I do prefer Scrum, and weekly sprints.</p>

  <p>As a web developer I am always looking for new challenges and I am eager to pick up and use the latest techniques as quick as it possible. Following the new trends and keep myself up-to-date is more than important to me. It's a must.</p>

  <p>I'm building responsive and reactive web applications and web sites by using cutting edge tools, libraries or even languages.</p>

  <div><b>My main experties are the followings:</b></div>

  <div class="experties row">
    <div class="col-lg-3"><img width="100%" src='/assets/images/laravel-logo.png'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/angular-3.svg'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/twitter.jpeg'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/primeng-2.png'></div>
  </div>

  <div class="experties row">
    <div class="col-lg-3"><img width="100%" src='/assets/images/git.png'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/jquery.gif'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/ty.png'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/slack.png'></div>
  </div>

  <div class="experties row">
    <div class="col-lg-3"><img width="100%" src='/assets/images/html5.jpeg'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/less_logo.png'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/css3.png'></div>
    <div class="col-lg-3"><img width="100%" src='/assets/images/IntelliJ_IDEA_logo_01.png'></div>
  </div>
</div>
