.experties{
  position: relative;

  div{
    position: relative;
    min-height: 200px;
    img{
      max-width: 70%;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }
}
