@import  'node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url(https://fonts.googleapis.com/css?family=Raleway);

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Raleway;


}
h1{
  margin: 30px 0;
  font-size: 30px;
  font-weight: bold;
}
.body{
background-image: url('/assets/images/pattern.jpg');
}
a:focus {outline:none;}
a::-moz-focus-inner {border:0;}
