/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  display: inline-block;
  position: relative;
  height: 170px;
  width: 270px;
  margin: 20px 10px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
  img{
    padding: 0px;
    width: 270px;
    height: 170px;
  }
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
  cursor: pointer;
	top: 0;

	left: 0;
    h1{
      font-size: 16px;
      margin: 0 0 10px;
      font-weight: bold;
      padding: 0;
    }
}

/* front pane, placed above back */
.front {
  width: 270px;
  height: 170px;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  width: 270px;
  height: 170px;
  padding: 10px;
	transform: rotateY(180deg);
  background-color: orangered;
  border-radius: 5px;
  box-shadow: 4px 4px 7px 1px #ccc;
  color: #fff;
  a{
    color: black;
  }
}
