<div class="container">
<h1>References</h1>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <img src="/assets/images/references/atelier.png" width="300">
    </div>
    <div class="back">
      <!-- back content -->
      <h1><a href="https://enterprise.atelier.technology/home/">Atelier Technology, London</a></h1>
      <p>Full Stack Development. Angular.js, OpenCart, Bootstrap, HTML5, CSS3.</p>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <img src="/assets/images/references/filmhome.png" width="300">
    </div>
    <div class="back">
      <!-- back content -->
      <h1><a href="http://www.filmhome.hu">Filmhome</a></h1>
      <p>Full Stack Development. Sitebuild has been only provided and specification.
         It has been built on Laravel 5.4 PHP Framework.</p>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <img src="/assets/images/references/humanoo.png" width="300">
    </div>
    <div class="back">
      <!-- back content -->
      <h1><a href="http://www.humanoo.com">Humanoo Berlin, Germany</a></h1>
      <p>Angular 2 Front End development. Bootstrap, HTML5, CSS3.</p>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <img src="/assets/images/references/companisto.png" width="300">
    </div>
    <div class="back">
      <!-- back content -->
      <h1><a href="http://www.companisto.com">Companisto, Berlin</a></h1>
      <p>Responsive Webdesign. Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
    </div>
  </div>
</div>




  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front">
  			<!-- front content -->
        <img src="/assets/images/references/airx.png" width="300">
  		</div>
  		<div class="back">
  			<!-- back content -->
        <h1><a href="http://www.airx.aero">Airx, Malta</a></h1>
        <p>Responsive Webdesign. Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
  		</div>
  	</div>
  </div>


  <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front">
  			<!-- front content -->
        <img src="/assets/images/references/alexandra.png" width="300">
  		</div>
  		<div class="back">
  			<!-- back content -->
        <h1><a href="http://www.alexandra.hu">Alexandra könyváruház</a></h1>
        <p>Redesign, Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
  		</div>
  	</div>
  </div>


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
        <img src="/assets/images/references/lovenorthampton.png" width="300">
      </div>
      <div class="back">
        <!-- back content -->
        <h1><a href="http://www.lovenorthmpton.co.uk">Love Northampton, UK</a></h1>
        <p>Drupal 8 development. Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
      </div>
    </div>
  </div>

  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
        <img src="/assets/images/references/kramann.png" width="300">
      </div>
      <div class="back">
        <!-- back content -->
        <h1><a href="http://www.coaching-kramann.de">Kramann Coaching, Germany</a></h1>
        <p>Joomla development. Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
      </div>
    </div>
  </div>


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
        <img src="/assets/images/references/biodiversity.png" width="300">
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Biodiversity Index, UK</h1>
        <p>Codeigniter development. Front End development. Bootstrap, JQuery, HTML5, CSS3.</p>
      </div>
    </div>
  </div>




</div>
