<div class="container">
<h1>Techniques</h1>

<span>linux</span>
<span>windows
</span><span>MAC
</span><span>MAMP
</span><span>LAMP
</span><span>XAMPP
</span><span>PHPMYSQL
</span><span>Geany
</span><span>Netbeans
</span><span>Notepad ++
</span><span>Photoshop
</span><span>Fireworks
</span><span>Gimp
</span><span>GIT
</span><span>SVN
</span><span>RESTFul APIs
</span><span>Twitter Bootstrap
</span><span>HTML
</span><span> Boilerplate960
</span><span> Foundation
</span><span>Smarty
</span><span>CodeIgniter
</span><span>Kohana
</span><span>Symfony I.
</span><span>MailChimp
</span><span>MailGun
</span><span>Trello
</span><span>Asana
</span><span>Redmine
</span><span>WP Plugin
</span><span>WP Theme Dev
</span><span>Drupal 8
</span><span>Joomla
</span><span>HTML5
</span><span>CSS3
</span><span>JavaScript
</span><span>RWD
</span><span> Agile
</span><span>WooCommerce
</span><span>ECommerce
</span><span>Re-design
</span><span>Sprites
</span><span>Mobile First
</span><span> PhoneGap
</span><span>Google Analytics
</span><span>SEO
</span><span>Piwik
</span><span>Webmaster Tools
</span><span> Laravel
</span><span>Angular.js
</span><span>Jira
</span><span>LESS
</span><span> Bower
</span><span>Grunt
</span><span>Composer
</span><span>Vagrant</span>


</div>
